.card {
    background-color: #808080;
    width: 23%;
    margin-top: 20px;
    border-radius: 5px;
}

.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card .title {
    font-weight: bold;
}